{{> header }}
{{!-- scribir exactamente igual --}}
{{!-- <h3>Alumnos de la comisión {{comision}}</h3>
<ul>
    {{#each alumnos}}
        <li>
            {{this.nombre}} {{this.apellido}}
        </li>
    {{/each}}
</ul> --}}
<div class="jumbotron">
        <h1>Curso de programación backend</h1>
        <h2>Comision 30965 </h2>
    </div>
{{> footer }}