<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
</head>
<body>
    <div class="container">
        <header>
            <%- include('./partials/header', { current: 'form' }) %>
        </header>
        <main>
            <div class="jumbotron">
                <h2>Ingrese sus datos</h2>
                <form method="POST" action="/productos">
                    <div class="form-group">
                      <label for="nombre">Nombre</label>
                      <input type="text" class="form-control" name="nombre">
                    </div>
                    <div class="form-group">
                        <label for="apellido">Apellido</label>
                        <input type="text" class="form-control" name="apellido">
                      </div>
                      <div class="form-group">
                        <label for="edad">Edad</label>
                        <input type="text" class="form-control" name="edad">
                      </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                  </form>
        </main>
    </div>
</body>
</html>