<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
</head>
<body>
    <div class="container">
        <header>
            <%- include('./partials/header', { current: 'home' }) %>
        </header>
    </div>

    <main>
        <div class="jumbotron">
            <h1>Curso de programación backend</h1>
            <h2>Comision <%= comision %> </h2>
        </div>

        
    </main>
</body>
</html>